
.CodeMirror {
  font-family: Monaco, 'Andale Mono', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
  font-size: 11pt;
  height: 100%;
  line-height: 18pt;
  background: #fdfdfd !important;
}

.CodeMirror-linenumber {
  padding-left: 30px;
  padding-right: 10px;
  min-width: 21px;
}

.CodeMirror-gutters {
  background-color: #f7f7f7 !important;
  min-width: 62px;
}

.highlight {
  background: rgba(255, 100, 100, 0.4)
}

.ReactCodeMirror {
  margin-top: 20px;
}

#top {
  margin: 50px 0;
}

.label {
  position: absolute;
  left: -25px;
}

.divider {
  margin-top: 70px !important;
  margin-bottom: 50px !important;
}

.text {
  font-size: 1.2em;
}