#location-hint, #data-hint {
  display: none;
}

.CodeMirror {
  font-family: Monaco, 'Andale Mono', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
  font-size: 11pt;
  height: 100%;
  line-height: 18pt;
  background: #fdfdfd !important;
}

.CodeMirror-linenumber {
  padding-left: 30px;
  padding-right: 10px;
  min-width: 21px;
}

.CodeMirror-sizer {
  margin-left: 65px !important;
}

.CodeMirror-gutters {
  background-color: #f7f7f7 !important;
  min-width: 62px;
}

.inline-hint {
  padding: 20px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #eee;
  border-top: solid 2px #bbb;
  border-bottom: solid 2px #bbb;
}

.arrow-up {
  width: 0;
  height: 0;
  position: absolute;
  top: 2px;
  left: 105px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #eee;
}

.arrow-border {
  width: 0;
  height: 0;
  position: absolute;
  top: 0px;
  left: 100px;
  z-index: -1;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #bbb;
}

.highlight {
  background: rgba(255, 100, 100, 0.4)
}

.current-line {
  background: rgba(200, 250, 150, 0.4)
}

.ReactCodeMirror {
  margin-top: 20px;
}

#top {
  margin: 50px 0;
}

.message {
  display: none;
  font-size: 1.2em !important;
}

.label {
  position: absolute;
  left: -62px;
  width: 62px;
  padding: 5px 3px !important;
}

.divider {
  margin-top: 70px !important;
  margin-bottom: 50px !important;
}

.markdown p {
  font-size: 1.2em;
}

.markdown hr {
  margin: 50px 0;
}

.markdown p code {
  background: #f7f7f7 !important;
  padding: 2px 5px;
  color: purple;
  font-size: 11pt;
}

.markdown pre {
  background: #f7f7f7 !important;
  padding: 16px;
  font-size: 10.5pt;
}

.markdown strong {
  background: #fff2a8;
  font-size: 1.1em;
  padding: 2px 5px;
}

.markdown code {
  font-family: Monaco, 'Andale Mono', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
  height: 100%;
  line-height: 18pt;
}

.play-area {
  height: 40px;
}

.play-button {
  float: left;
}

.rc-slider {
  float: left;
  margin-top: 12px;
  margin-left: 30px;
  width: 80%;
}

.title {
  font-size: 4em;
}